.padding-select {
	padding-bottom: 15px;
}
.bk-radio .bki-fold-fill + .bki-fold-fill {
	top: 0 !important;
	font-size: 6px;
	left: 3px;
	color: #777;
}

.bk-radio .bki-fold-fill {
	color: #F2F1F1;
}

.bk-radio .text-radio {
	margin-left: 2px;
}

.bk-radio .presentation {
	margin: 0;
}
