<!DOCTYPE html>
<html>
    <head><meta charset="utf-8"/><meta http-equiv="X-UA-Compatible" content="IE=edge"/><meta name="viewport" content="width=device-width, initial-scale=1"/><meta name="description" content="Investment Fund App for Bankia"/><link rel="icon" href="app/assets/img/favicon.ico" type="image/x-icon"/>
        <title>Bankia - Fondos de inversión</title>
        <!-- bower:css -->
        <!-- endbower -->
        <link rel="stylesheet" href="app/sass/main.css">
    </head>
    <body>
        <div class="container-box">
            <header>
              <!-- <img src="app/assets/img/cabecera.jpg" class="cabecera"/>
              <img src="app/assets/img/submenu.jpg" class="cabecera"/> -->
            </header>

            <xxxxx></xxxxx>

            <!-- <footer><img src="app/assets/img/pie.jpg" class="cabecera"/></footer> -->

        </div>

    </body>

    <!-- bower:js -->
    <!-- endbower -->

    <!-- inject:js -->
    <!-- endinject -->

</html>
